@import '../../../index.scss';

.navbar{
  background-color: $background-color !important;

  .nav-container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    margin-bottom: 10vh;
  }

  .navbar-brand{
    font-size: $large-title;
    &:hover{
      color: $secondary-color;
    }
  }

  .navbar-collapse {
    justify-content: center;
  }
  a{
    text-decoration: none;
    color: $secondary-color;
    font-size: $medium-title ;
    font-weight: $light-font-weight;
  }

  .nav-link {
    padding: 0 30px;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }

}
