@import '../../../index.scss';

.navbar{
  background-color: $background-color !important;

  .nav-container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    padding: 0 4vh;
    align-items: center;
    margin-bottom: 10vh;
  }

  .navbar-brand{
    font-size: $large-title;
    position: relative;
    &:hover{
      color: $secondary-color;
    }
  }

  .navbar-image{
    position: absolute;
    top: -339px;
    left: -272px;
  }

  .navbar-collapse {
    justify-content: center;
  }
  a{
    text-decoration: none;
    color: $secondary-color !important;
    font-size: $medium-title ;
    font-weight: $light-font-weight;

  }

  .nav-item {
    padding: 0 1vh;
  }

  .nav-link {
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }

  .nav-link.active {
    color: $primary-color !important;
  }

}
