@import '../../../index.scss';

.main-container {
  width: 80%;
  margin: 0 auto;
  background-color: $background-color ;
  font-family: $lato;
  color: $secondary-color;

  .home-container{
    padding-top: 100px;
  }

  img {
    display: flex;
    margin: 0 auto;
  }
  .home-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1, h2{
      font-weight: 300;
      padding-bottom: 15px;
    }
  }
}
